@media (max-width:850px) {
    .portada {
        width: 98%;
        background-position: 80%;
        margin-left: 2px;
        height: 400px;
    }
}

@media (max-width:850px) {
    .portada .contenedor_portada h1 {
        margin-left: 2px;
        font-size: 2.5rem;
        margin-top: 0px;
    }

    .portada .contenedor_portada h5 {
        font-size: 5rem;
    }
}

@media (max-width:992px) {
    .contenedorQSomos h2 {
        font-size: 2rem;
        margin-top: 100px;
    }
}

@media (max-width:772px) {
    .contenedorQSomos h2 {
        font-size: 1.8rem;
        margin-top: 70px;
    }
}

@media (max-width:650px) {
    .contenedorQSomos h2 {
        font-size: 1.7rem;
        margin-top: 30px;
        margin-left: 50px;
    }
}

@media (max-width:480px) {
    .contenedorQSomos h2 {
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 768px) {
    .contenedorQSomos {
        background-size: 95%;
        background-position: center center;
    }
}

@media (max-width:1203px) {
    .cardNosotros img {
        width: 420px;
        height: 420px;
    }

    .textNosotros p {
        font-size: 1.8rem;
        margin-top: 70px;
    }
}

@media (max-width:992px) {
    .cardNosotros img {
        width: 350px;
        height: 350px;
    }

    .textNosotros p {
        font-size: 1.4rem;
        margin-top: 30px;
    }
}

@media (max-width:770px) {
    .cardNosotros img {
        width: 305px;
        height: 305px;
        margin: 0;
        margin-left: 20px;
    }

    .textNosotros p {
        font-size: 1.4rem;
        margin-right: 50px;
    }
}
