@use "variables";

.cardNevado {
  img {
    width: 100%;
    padding: 20px;
  }

  box-shadow: 0px 2px 0px rgb(145, 145, 77);
  background: linear-gradient(to top, #dbd6cf 0%, #235896 100%);
}

.card-body {
  text-align: center center;

  h5 {
    margin-left: 15px;
    font-size: 2rem;
    font-weight: 500;
    color: variables.$colorA;
    text-shadow: 2px 0px 2px rgb(15, 14, 14);
  }

  p {
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: center center;
    font-weight: normal;
  }
}

.zoom-image {
  overflow: hidden;
  transition: transform 0.8s ease;

  &:hover {
    transform: scale(1.1);
  }
}

