@use "variables";


.cardNosotros {
    img {
        width: 100%;
        margin-bottom: 220px;
        margin-top: 60px;
        height: 480px;
    }
    width: 100%;
    height: 800px;

}
.textNosotros p {
    margin-top: 70px;
    font-size: 2rem;
    font-weight: normal;
}
@media (max-width:1203px) {
    .cardNosotros img {
        width: 420px;
        height: 420px;
    }

    .textNosotros p {
        font-size: 1.8rem;
        margin-top: 70px;
    }
}


@media (max-width:770px) {
    .cardNosotros img {
        width: 305px;
        height: 305px;
        margin: 0;
        margin-left: 20px;
    }

    .textNosotros p {
        font-size: 1.4rem;
        margin-right: 50px;
    }
}
