@use "variables";


.cardNosotros {
    img {
        width: 100%;
        margin-bottom: 220px;
        margin-top: 60px;
        height: 480px;
    }
    width: 100%;
    height: 800px;

}
.textNosotros p {
    margin-top: 70px;
    font-size: 2rem;
    font-weight: normal;
}